<!DOCTYPE html>
{% extends 'adminheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}
<body>

<form id="f1" method="post">
    {% csrf_token %}
   <table class="table table-success table-striped">
    {{ f.as_table }}

        </table>


     <input type="submit" value="submit">
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
        {% endfor %}

    </ul>
{% endif %}

   <table class="table table-success table-striped">
    <tr>
        <th>Designation Name</th>
    </tr>
    {% for obj in desi_list %}
    <tr>

        <td>{{obj.designation}}</td>
        <td><a href="{% url 'up_desi' obj.id %}"> UPDATE </a> </td>
        <td><a href="{% url 'dele_desi' obj.id %}"> DELETE</a></td>

    </tr>
     {% endfor %}
</table>
</form>
</body>
{% endblock %}
</html>