<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="f1" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table border="1">
    {{ f.as_table }}

        </table>


     <input type="submit" value="submit">
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
        {% endfor %}

    </ul>
{% endif %}

     <table border="1">
    <tr>
        <th>QUOTE CODE</th>
        <th>PROJECT</th>
        <th>QUOTE NAME</th>
         <th>OPEN DATE</th>
        <th>CLOSE DATE</th>
        <th>QUOTATION TYPE</th>
        <th>DOCUMMENT 1</th>
        <th>DOCUMENT 2</th>
        <th>DESCRIPTION</th>
    </tr>



             {% for obj in quo_list %}

    <tr>
      <td>{{obj.quote_code}}</td>
        <td>{{obj.Project}}</td>
        <td>{{obj.quote_name}}</td>
        <td>{{obj.open_date}}</td>
        <td>{{obj.close_date}}</td>
        <td>{{obj.QuotationType}}</td>
        <td><img src="{{obj.quote_doc1.url }}" width =150 height =200/></td>
        <td><img src="{{obj.quote_doc2.url }}" width =150 height =200/></td>
        <td>{{obj.description}}</td>


        <td><a href="{% url 'show_reapply' obj.id %}"> VIEW </a> </td>


    </tr>
     {% endfor %}
</table>
</form>
</body>
</html>